/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'proxima_nova_rgregular';
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-image: url('../img/gplaypattern.png');
}

#container {
    width: 960px;
    margin: 0 auto;
}


#logo-img {

    display: block;
    margin: 40px auto;

}

.dots {
    height: 2px;
    background-image: url('../img/dot.png');
    background-repeat: repeat-x;
}

#nav ul {

    padding: 20px 0px 20px 20px;
}

#nav li {
    list-style: none;
    display: inline;
    padding-right: 85px;
    font-size: 23px;
    font-family: 'proxima_novaextrabold';
}

 #nav li:last-child {
    padding: 0;
}

#nav a {
    text-decoration: none;
    color: #000; 
}

#nav a:hover {
    color: #46c4e8;
}

#nav .active {
    color: #46c3e7;
}

#content {
    padding: 50px 0px 80px 0px;
    min-height: 430px;
}

.section { display: none;  overflow: auto;}
.padded { padding: 0px 80px 0px 230px  } 

.pink_text {
    color: #a40f84;
}

.bold {
    font-family: 'proxima_novaextrabold';
}

#home {
    overflow: hidden;
}

#about_text {
    width: 300px;
    font-size: 15px;
    line-height: 1.6;
}

#about_text p {
    margin-bottom: 30px;
}

#clients {
    font-size: 16px;
    overflow: hidden;
}

.bold_text {
    font-family: 'proxima_novaextrabold';
    margin: 30px 0px 8px 0px;
}

.arrows {
    margin-left: 40px;
}

#testimonials {
    width: 400px;
    font-size: 16px;
    overflow: hidden;
    line-height: 1.6;
}

#links {
    
    font-size: 16px;
    overflow: hidden;
    line-height: 1.6;
}

#links a { text-decoration: none; color: #a40f84; }

#links_text {
    margin-left: 50px;
}

#contact {
    
    font-size: 16px;
    overflow: hidden;
    line-height: 1.6;
}

#contact_text {
    width: 310px;
    margin-left: 50px;
}

#contact_text a {
    text-decoration: none;
}

#contact_text .contact {
    margin: 8px 0px 15px 0px;
}

#footer {
    padding: 0px 0px 20px 0px;
    overflow: auto;
}

#left_footer {
    width: 500px;
    float: left;
}

#right_footer {
    float: right;
    padding-top: 10px;
}

#right_footer img {
    margin-right: 10px;
}

#footer ul {
    padding-top: 10px;
}

#footer li {

    list-style: none;
    display: inline;
    padding: 0px 10px 0px 10px; 
    font-size: 11px;
}

#footer li:first-child {
    padding-left: 0px;
}

#footer li:last-child {
    padding-right: 0px;
}

#footer a {
    color: #a40f84;
    text-decoration: none;
}

.left { float: left; }
.right { float: right; }



@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../fonts/proximanova-extrabold-webfont.eot');
    src: url('../fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-extrabold-webfont.woff') format('woff'),
         url('../fonts/proximanova-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-extrabold-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('../fonts/proximanova-regitalic-webfont.eot');
    src: url('../fonts/proximanova-regitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regitalic-webfont.woff') format('woff'),
         url('../fonts/proximanova-regitalic-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regitalic-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
